:root {
    font-family: 'Iosevka Web', 'Courier New', Courier, monospace;
    /* line-height: 1.5;
    font-weight: 400; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html{
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

body{
    padding:0;
    margin:0;
    font-size:12pt;
    background:rgb(253, 253, 244);
}

/* change to the grabbing cursor when panning */
body.panning {
    cursor: grab
}

html, body {
    overscroll-behavior: none
}

#app {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

.grid-canvas, .drag-canvas{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#svg-container, #grid-container{
    position: absolute;
    top:0;
    left:0;
    overflow:hidden;
    width:100%;
    height:100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

#svg-container svg{ transition: opacity 100ms }
.faded{ opacity: 0.5 }

.metro-map {
    outline: 1px solid red;
}